html {
    font-size: 16px;
    font-family: "Rock Salt", cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.grid {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: none;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-grow: 1;
    gap: 4px;
}

.gridSquare {
    display: flex;
    padding: 0.5rem 0;
    border: 1px solid transparent;
    background-color: grey;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 6px;
    transition: transform ease .5s, box-shadow ease .5s, background-color ease 0.5s;

}

.gridSquare:hover {
    transform: translateY(-1px);
    box-shadow: 0px 10px 20px 2px rgba(30, 27, 75, 0.25);
    background-color: #e8e9ea;
}

.title {
    display: flex;
    justify-content: center;
    margin: 75px 0px 16px 0px;
    padding: 0px;
    font-size: 1.5rem;
    text-decoration: underline;
}

.reset-btn, .start-btn {
    width: 170px;
    padding: 8px 16px;
    align-self: center;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    text-wrap: none;
    font-family: inherit;
}

.reset-btn {
    margin-top: 16px;
}

.button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.start-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.player-name {
    width: 170px;
    font-size: 1.2rem;
    text-align: center;
    font-family: inherit;
}

.game-state {
    height: 1rem;
    font-size: 1.2rem;
}

/* css styling for scoreboard */

.score-wrap {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    max-height: 5rem;
    border-radius: 8px;
    background-color: #e8e9ea;
}

.home, .guest {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: left; */
    gap: 10px;
    align-items: center;
}

h3 {
    color: black;
    text-align: center;
    font-family: inherit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 35.893px; 
    padding: 0px;
    margin: 0px;
}

#p1-score, #p2-score {
    color: grey;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    /* line-height: 126.666px; */
    padding: 0px;
    margin: 0px;
}

.scoreboard-guest, .scoreboard-home {
    /* background-color: black; */
    margin: 0px;
    /* max-width: 155px;
    max-height: 120px; */
    border-radius: 6px;

}

.scoreName-player {
    color: black;
    font-size: 1rem;
}

button {
    /* background-color: #1B244A; */
    border-radius: 5px;
    border: 2px solid #9AABD8;
    width: 45px;
    /* color: #9AABD8; */
    font-family: "Cursed Timer ULiL";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.812px;
}



